.campaign-name{
	text-align:center;
}

#campaign-name{
	text-align:center;
}
select.form-control{
	height:34px !important;
}
.number-function{
	border-top:none !important;
	border-left:none !important;
	border-right:none !important;
	border-bottom:1px solid lightgrey !important;
}
.campaign-solo:hover{
	background-color:#F3F3F3;
	cursor:pointer;
}